/* .h2 {
  font-weight: bold;
} */

.signup-container {
  display: flex;
  flex-direction: column;
}

.note {
  display: block;
  text-align: center;
  align-items: center;

  margin: 2rem 0;
}

.signup-form {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.email {
  margin-bottom: 0.5rem;
}
.password {
  margin-bottom: 0.5rem;
}
.button-signup {
  display: flex;
  height: 2rem;
  align-items: center;

  margin: 1rem auto;
  color: white;
  background-color: #464fe5;
}
